


.imgsty {
    display: inline-block;
    width: 250px;
    height: 320px;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.9;


}

.imgsty:hover{
    scale: 1.1;
    opacity: 1.0;
    background-color: rgb(224, 221, 221);

}

